
.nested-fields
  .row
    .col-lg-5
      =f.label :name
      =f.text_field :name, class: 'form-control', required: true, maxlength:30
    .col-lg-5
      =f.label :weight
      =f.number_field :weight, class: 'form-control weight', min:0, max: 1, step: :any, required: true
    .col-lg-2{style: 'display:flex;align-items:center'}
      %br/
      %br/
      = link_to_remove_association "X", f