
.row
  .col-lg-4.offset-lg-4
    %h1.text-center=@course.name
    .card
      .card-header.text-center
        %h1 Add Assessment
      .card-body
        #assessments
          =form_for @course do |f|
            =f.fields_for :assessments do |as|
              =render 'assessment_fields', f: as
            .links
              = link_to_add_association 'Add Assessment', f, :assessments
            %span.error
            =f.submit 'Save', class: 'btn btn-info float-right', onclick: 'return validateWeight(event)'

:javascript
  function validateWeight(event){
    sum = 0
    $('.weight').each((i,v) => {
        sum += parseFloat($(v).val());
    });
    debugger
    if (sum > 1){
      $('.error').html("The sum of all the weights should be less than or equal to 1 ")
      event.preventDefault();
      return false;
    }
    return true;
  }